<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Admin</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body id="page-index">
  <header class="page-header">
    <div class="btnGroup">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <a id="btnindex" class="btn btn-secondary" href="/" class="back">Home</a>
        <a id="btnindex" class="btn btn-secondary" href="/admin/register-products" class="back">Produtos</a>
        <a id="btnindex" class="btn btn-secondary" href="/admin/requests" class="back">Pedidos</a>
      </div>
    </div>
    <div class="container">
      <div class="animate-up">
        <h1 id="logo">Banco Robótica</h1>
      </div>
      <div class="separator"></div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="btn-group d-flex align-content-between flex-wrap" role="group" aria-label="Basic example">
      <button id="btnAdmin" type="button" class="btn btn-outline-info">Administrador</button>
      <button id="btn5ano" type="button" class="btn btn-outline-info">Alunos 5° ano</button>
      <button id="btn6ano" type="button" class="btn btn-outline-info">Alunos 6° ano</button>
      <button id="btn7ano" type="button" class="btn btn-outline-info">Alunos 7° ano</button>
      <button id="btn8ano" type="button" class="btn btn-outline-info">Alunos 8° ano</button>
      <button id="btn9ano" type="button" class="btn btn-outline-info">Alunos 9° ano</button>
    </div>
  </div>

  <div class="container">
    <main class="animate-up delay-2">
      <div class=" text-center m-4">
        <h1>Alunos Cadastrados</h1>
      </div>
      <div class="row">

        <% users.forEach((user)=> {
          if(user.classroom === 1){%>
          <div class="admin cards col-sm-6 card-group">
            <div class="card card-body d-flex align-content-between flex-wrap" data-id="<%= user.id %>">
              <div class="Idcolumn">
                <small>
                  <%= user.id %>
                </small>
              </div>
              <div class="namecolumn1">
                <h2>
                  <%= user.name %>
                </h2>
                <strong>
                  <%= user.userName %>
                </strong><br>
                <strong>
                  <%= user.classroom %>
                </strong><small> Série</small>
              </div>
              <div class="priceColumn">
                <span>Saldo total</span>
                <p>M <%= user.totalBalance %>
                </p>
              </div>
              <form id="pay" action="/admin" method="post">
                <div class="input-group mb-3 input-group-lg">
                  <div class="input-group-prepend">
                    <input type="number" id="amountBalanceId" name="amountId" value="<%= user.id %>"
                      class="form-control">
                    <span class="input-group-text" id="basic-addon1">M</span>
                    <input type="number" id="amountBalance" name="amount" value="" class="form-control">
                  </div>
                  <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer Pagamento</button>
                </div>
              </form>
            </div>
          </div>
          <!-- end card -->
          <%}%>
            <% }) %>


              <% users.forEach((user)=> {
                if(user.classroom === 5){%>
                <div class="Alunos5Ano cards col-sm-6 card-group">
                  <div class="card card-body d-flex align-content-between flex-wrap" data-id="<%= user.id %>">
                    <div class="Idcolumn">
                      <small>
                        <%= user.id %>
                      </small>
                    </div>
                    <div class="namecolumn1">
                      <h2>
                        <%= user.name %>
                      </h2>
                      <strong>
                        <%= user.userName %>
                      </strong><br>
                      <strong>
                        <%= user.classroom %>
                      </strong><small> Série</small>
                    </div>
                    <div class="priceColumn">
                      <span>Saldo total</span>
                      <p>M <%= user.totalBalance %>
                      </p>
                    </div>
                    <form id="pay" action="/admin" method="post">
                      <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                          <input type="number" id="amountBalanceId" name="amountId" value="<%= user.id %>"
                            class="form-control">
                          <span class="input-group-text" id="basic-addon1">M</span>
                          <input type="number" id="amountBalance" name="amount" value="" class="form-control">
                        </div>
                        <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer Pagamento</button>
                      </div>
                    </form>
                    <div class="editRequest">
                      <form action="/admin/users/delete" method="post" onsubmit="confirmDelUser(event, this)">
                        <input type="hidden" name="id_UserDel" value="<%= user.id %>">
                        <button class="btn btn-danger">Excluir usuário</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end card -->
                <%}%>
                  <% }) %>

                    <% users.forEach((user)=> {
                      if(user.classroom === 6){%>
                      <div class="Alunos6Ano cards col-sm-6 card-group">
                        <div class="card card-body d-flex align-content-between flex-wrap" data-id="<%= user.id %>">
                          <div class="Idcolumn">
                            <small>
                              <%= user.id %>
                            </small>
                          </div>
                          <div class="namecolumn1">
                            <h2>
                              <%= user.name %>
                            </h2>
                            <strong>
                              <%= user.userName %>
                            </strong><br>
                            <strong>
                              <%= user.classroom %>
                            </strong><small> Série</small>
                          </div>
                          <div class="priceColumn">
                            <span>Saldo total</span>
                            <p>M <%= user.totalBalance %>
                            </p>
                          </div>
                          <form id="pay" action="/admin" method="post">
                            <div class="input-group mb-3 input-group-lg">
                              <div class="input-group-prepend">
                                <input type="number" id="amountBalanceId" name="amountId" value="<%= user.id %>"
                                  class="form-control">
                                <span class="input-group-text" id="basic-addon1">M</span>
                                <input type="number" id="amountBalance" name="amount" value="" class="form-control">
                              </div>
                              <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer Pagamento</button>
                            </div>
                          </form>
                          <div class="editRequest">
                            <form action="/admin/users/delete" method="post" onsubmit="confirmDelUser(event, this)">
                              <input type="hidden" name="id_UserDel" value="<%= user.id %>">
                              <button class="btn btn-danger">Excluir usuário</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- end card -->
                      <%}%>
                        <% }) %>


                          <% users.forEach((user)=> {
                            if(user.classroom === 7){%>
                            <div class="Alunos7Ano cards col-sm-6 card-group">
                              <div class="card card-body d-flex align-content-between flex-wrap"
                                data-id="<%= user.id %>">
                                <div class="Idcolumn">
                                  <small>
                                    <%= user.id %>
                                  </small>
                                </div>
                                <div class="namecolumn1">
                                  <h2>
                                    <%= user.name %>
                                  </h2>
                                  <strong>
                                    <%= user.userName %>
                                  </strong><br>
                                  <strong>
                                    <%= user.classroom %>
                                  </strong><small> Série</small>
                                </div>
                                <div class="priceColumn">
                                  <span>Saldo total</span>
                                  <p>M <%= user.totalBalance %>
                                  </p>
                                </div>
                                <form id="pay" action="/admin" method="post">
                                  <div class="input-group mb-3 input-group-lg">
                                    <div class="input-group-prepend">
                                      <input type="number" id="amountBalanceId" name="amountId" value="<%= user.id %>"
                                        class="form-control">
                                      <span class="input-group-text" id="basic-addon1">M</span>
                                      <input type="number" id="amountBalance" name="amount" value=""
                                        class="form-control">
                                    </div>
                                    <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer
                                      Pagamento</button>
                                  </div>
                                </form>
                                <div class="editRequest">
                                  <form action="/admin/users/delete" method="post"
                                    onsubmit="confirmDelUser(event, this)">
                                    <input type="hidden" name="id_UserDel" value="<%= user.id %>">
                                    <button class="btn btn-danger">Excluir usuário</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- end card -->
                            <%}%>
                              <% }) %>


                                <% users.forEach((user)=> {
                                  if(user.classroom === 8){%>
                                  <div class="Alunos8Ano cards col-sm-6 card-group">
                                    <div class="card card-body d-flex align-content-between flex-wrap"
                                      data-id="<%= user.id %>">
                                      <div class="Idcolumn">
                                        <small>
                                          <%= user.id %>
                                        </small>
                                      </div>
                                      <div class="namecolumn1">
                                        <h2>
                                          <%= user.name %>
                                        </h2>
                                        <strong>
                                          <%= user.userName %>
                                        </strong><br>
                                        <strong>
                                          <%= user.classroom %>
                                        </strong><small> Série</small>
                                      </div>
                                      <div class="priceColumn">
                                        <span>Saldo total</span>
                                        <p>M <%= user.totalBalance %>
                                        </p>
                                      </div>
                                      <form id="pay" action="/admin" method="post">
                                        <div class="input-group mb-3 input-group-lg">
                                          <div class="input-group-prepend">
                                            <input type="number" id="amountBalanceId" name="amountId"
                                              value="<%= user.id %>" class="form-control">
                                            <span class="input-group-text" id="basic-addon1">M</span>
                                            <input type="number" id="amountBalance" name="amount" value=""
                                              class="form-control">
                                          </div>
                                          <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer
                                            Pagamento</button>
                                        </div>
                                      </form>
                                      <div class="editRequest">
                                        <form action="/admin/users/delete" method="post"
                                          onsubmit="confirmDelUser(event, this)">
                                          <input type="hidden" name="id_UserDel" value="<%= user.id %>">
                                          <button class="btn btn-danger">Excluir usuário</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- end card -->
                                  <%}%>
                                    <% }) %>


                                      <% users.forEach((user)=> {
                                        if(user.classroom === 9){%>
                                        <div class="Alunos9Ano cards col-sm-6 card-group">
                                          <div class="card card-body d-flex align-content-between flex-wrap"
                                            data-id="<%= user.id %>">
                                            <div class="Idcolumn">
                                              <small>
                                                <%= user.id %>
                                              </small>
                                            </div>
                                            <div class="namecolumn1">
                                              <h2>
                                                <%= user.name %>
                                              </h2>
                                              <strong>
                                                <%= user.userName %>
                                              </strong><br>
                                              <strong>
                                                <%= user.classroom %>
                                              </strong><small> Série</small>
                                            </div>
                                            <div class="priceColumn">
                                              <span>Saldo total</span>
                                              <p>M <%= user.totalBalance %>
                                              </p>
                                            </div>
                                            <form id="pay" action="/admin" method="post">
                                              <div class="input-group mb-3 input-group-lg">
                                                <div class="input-group-prepend">
                                                  <input type="number" id="amountBalanceId" name="amountId"
                                                    value="<%= user.id %>" class="form-control">
                                                  <span class="input-group-text" id="basic-addon1">M</span>
                                                  <input type="number" id="amountBalance" name="amount" value=""
                                                    class="form-control">
                                                </div>
                                                <button class="btn btn-outline-secondary" id="pay" type="submit">Fazer
                                                  Pagamento</button>
                                              </div>
                                            </form>
                                            <div class="editRequest">
                                              <form action="/admin/users/delete" method="post"
                                                onsubmit="confirmDelUser(event, this)">
                                                <input type="hidden" name="id_UserDel" value="<%= user.id %>">
                                                <button class="btn btn-danger">Excluir usuário</button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- end card -->
                                        <%}%>
                                          <% }) %>

      </div>
      <!-- end cards -->
    </main>
  </div>
  <!-- end container -->
  <script src="/javascripts/script.js"></script>
</body>

</html>