<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Admin</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/registerProducts.css" />
  <link rel="stylesheet" href="/styles/pages/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
</head>

<body id="page-index">
  <header class="page-header">
    <div class="animate-up">

      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <a id="btnindex" class="btn btn-secondary" href="/" class="back">Home</a>
        <a id="btnindex" class="btn btn-secondary" href="/admin" class="back">Cadastro de alunos</a>
        <a id="btnindex" class="btn btn-secondary" href="/admin/requests" class="back">Pedidos</a>
      </div>

      <div class="container">

        <h1 id="logo">Banco Robótica</h1>
      </div>
      <div class="separator"></div>
    </div>
  </header>

  <div class="container">
    <main class="animate-up delay-2">
      <div class="row">
        <div class="pr-0 col-xs-12 col-sm-12">
          <div class="mt-2 container-ranking adminRanking">
            <div class="content-headerRanking">
              <h3>Ranking da Robótica</h3>
            </div>
            <div class="content-bodyRanking">
              <% rankings.forEach(function(ranking, i){ profiles.forEach((profile=>{
                if(ranking.idAlunoRanking === profile.id){%>
                <div class="contentInfo-alunoRanking">
                  <div class="positionRanking">
                    <strong>
                      <%= i + 1 %>
                    </strong>
                  </div>
                  <div class="image-alunoRanking">
                    <div class="card cardImge">
                      <div class="text-center">
                        <% if(profile.avatar !="http//" ) {%>
                          <img src="<%= profile.avatar %>" alt="Perfil" />
                          <%}else{%>
                            <img src="/images/moeda-robotica.png" alt="Perfil" />
                            <%}%>
                      </div>
                    </div>
                  </div>
                  <div class="infouser-alunoRanking">
                    <div class="userName-alunoRanking">
                      <p>
                        <%= profile.userName%>
                      </p>
                    </div>
                    <div class="pointUser-alunoRanking">
                      <p><strong>
                          <%= ranking.totalPoints %>
                        </strong> pontos</p>
                    </div>
                  </div>
                </div>
                <div class="editRequest">
                  <form action="/admin/rankingAndQuiz-delete" method="post" onsubmit="confirmDelUser(event, this)">
                    <input type="hidden" name="id_AlunoRankingAndQuiz" value="<%= ranking.idAlunoRanking %>">
                    <button class="btn btn-danger">Excluir Ranking e Quiz</button>
                  </form>
                </div>

                <%} })) }) %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- end container -->
  <script src="/javascripts/script.js"></script>
</body>

</html>