<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Perfil</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/forms.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/profile.css" />
  <link rel="stylesheet" href="/styles/pages/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
</head>

<body id="page-profile">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/moeda-robotica.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Banco<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Perfil</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/publics">Publicações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/created-publics">Criar publicação</a>
        </li>             
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid ptGb-100 animate-up delay-2">
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <a class="btn btn-info btn-lg" href="/payments">
            <i class="las la-file-invoice-dollar"></i> Ver Transações</a>
        </div>
        <div class="card cardImge">
          <div class="text-center">
            <% if(profile.avatar != "http//") {%>
              <img src="<%= profile.avatar %>" alt="Perfil" />
            <%}else{%>
              <img src="/images/moeda-robotica.png" alt="Perfil" />
              <%}%>
            <h2>
              <%= profile.name %>
            </h2>
            <form id="form-profile" method="post" action="/profile">

              <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Alterar nome</span>
                </div>
                <input type="text" id="name" name="name" value="" class="form-control">
              </div>
              <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Alterar foto</span>
                </div>
                <input placeholder="https://" type="url" id="avatar" name="avatar" class="form-control" />
              </div>

            </form>
            <button class="button green" form="form-profile" type="submit">Salvar alteração</button>
          </div>
        </div>
      </div>
      <div class="col-sm-7">

        <div class="col-sm-12">
          <div class="myOrthers">
            <h3>Meus pedidos</h3>
          </div>
        </div>

        <main>
          <% if(transactions.length > 0) {
            transactions.forEach(transactionUser => {%>
            <div class="col-sm-12 card-group">
              <div class="card cardList" data-id="">
                <div class="dateColumn mb-4">
                  <time>
                    <% 
                    let date = transactionUser.createdAt
                    let dateFormatted = date.toLocaleDateString('pt-BR', {timeZone: 'UTC'})
                    let data_americana = dateFormatted
                    let data_brasileira = data_americana.split('-').reverse().join('/');
                    %> 
                    <%= data_brasileira  %> 
                  </time>
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="imageColumn-profile">
                      <img src="<%= transactionUser.imageItem %> " />
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="status">
                        <% if(transactionUser.status === 0){%>
                          <small class="statusRed">Pedido em Aberto</small>
                          <%}else{%>
                            <small class="statusGreen">Pedido entregue</small>
                        <%}%>         
                    </div>
                    <div class="card-profile card-body d-flex align-content-between flex-wrap">
                      <div class="nameColumn">
                        <span>Nome do Produto</span>
                        <p>
                          <%= transactionUser.nameItem %> 
                        </p>
                      </div>
                      <div class="d-flex">
                        <div class="amountColumn">
                          <span>Quantidade</span>
                          <p>
                            <%= transactionUser.quantity %> 
                          </p>
                        </div>
                        <div class="priceColumn">
                          <span>Preço</span>
                          <p><img src="/images/Sifrão-Maker.png" alt="Imagem de total"><%= transactionUser.price %>  
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
            <%}else{%>
              <div class="col-sm-12 card-group card text-center">
                <div class="cardImge">
                  <img src="/images/carinhatriste.png" alt="Carinha triste" />
                </div>
                <p>Trabalhe mais para fazer seu primeiro pedido!</p>
                <div class="helpToBy">
                  <h3>Algumas dicas para você ganhar + Makers</h3>
                      <ul>
                          <li>Estude bastante</li>
                          <li>Faça bagunça só quando puder</li>
                          <li>Foco total na explicação</li>
                          <li>Poste nas redes sociais que ama robótica</li>
                      </ul>
                </div>
              </div>
            <%}%>
           
        </main>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>