<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Admin</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/modal.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/index.css" />
  <link rel="stylesheet" href="/styles/pages/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

</head>

<body id="page-index">
  <header class="page-header">
    <div class="container">

      <div class="container animate-up">

        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <a id="btnindex" class="btn btn-secondary" href="/" class="back">Home</a>
          <a id="btnindex" class="btn btn-secondary" href="/admin/register-products" class="back">Produtos</a>
          <a id="btnindex" class="btn btn-secondary" href="/admin" class="back">Cadastro de Alunos</a>
        </div>



        <h1 id="logo">Banco Robótica</h1>
      </div>
      <div class="separator"></div>
    </div>
  </header>

  <div class="container">
    <div class="campSearch m-3">
      <form action="/admin/searchresultRequest" method="get">
        <input id="search" type="search" name="search" placeholder="Pesquise pelo nome do aluno, Série ou Username">
        <button class="btn btn-primary mt-3">Buscar</button>
      </form>
    </div>
    <h2 class="m-2">Pedidos</h2>
    <div class="row">
      <% transactions.forEach((transactionUser)=> {
        let date = transactionUser.createdAt
        let dateFormatted = date.toLocaleDateString('pt-BR', {timeZone: 'UTC'})
        let data_americana = dateFormatted
        let data_brasileira = data_americana.split('-').reverse().join('/');
        %>

        <div class="col-sm-6 card-group mt-3">
          <div class="card cardList" data-id="<%= transactionUser.id_Transaction %>">
            <div class="dateColumn">
              <time>
                <%= data_brasileira %>
              </time>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="nameColumn m-3">
                  <span>Pedido realizado por: </span>
                  <strong>
                    <%= transactionUser.nameAluno %>
                  </strong><br>
                  <strong>
                    <%= transactionUser.usernameAluno %>
                  </strong><br>
                  <strong>
                    <%= transactionUser.classroomAluno %>
                  </strong><small> Série</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="imageColumn-profile">
                  <img src="<%= transactionUser.imageItem %>" />
                </div>
              </div>
              <div class="col-9">
                <div class="status">
                  <% if(transactionUser.status===0){%>
                    <small class="statusRed">Pedido em Aberto</small>
                    <%}else{%>
                      <small class="statusGreen">Pedido entregue</small>
                      <%}%>
                </div>
                <div class="card-profile card-body d-flex align-content-between flex-wrap">
                  <div class="nameColumn">
                    <span>Nome do Produto</span>
                    <p>
                      <%= transactionUser.nameItem %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <div class="amountColumn">
                      <span>Quantidade</span>
                      <p>
                        <%= transactionUser.quantity %>
                      </p>
                    </div>
                    <div class="priceColumn">
                      <span>Preço</span>
                      <p><img src="/images/Sifrão-Maker.png" alt="Imagem de total">
                        <%= transactionUser.price %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form id="updateTransaction" action="/admin/requests" method="post" onsubmit="confirmSuccess(event, this)">
                  <div class="input-group mb-3 input-group-lg">
                    <div class="input-group-prepend">
                      <input type="number" id="statusInAdmin" name="statusId" value="<%= transactionUser.id %>"
                        class="form-control">
                    </div>
                    <% if(transactionUser.status===0){%>
                      <button class="btn btn-outline-secondary" id="updateTransaction" type="submit">Confirmar
                        entrega</button>
                      <%}%>
                  </div>
                </form>
                <div class="editRequest">
                  <form action="/admin/requests/delete" method="post" onsubmit="confirmDel(event, this)">
                    <input type="hidden" name="id_TransactionDel" value="<%= transactionUser.id %>">
                    <button class="btn btn-danger">Excluir</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%})%>

    </div>
  </div>
  <!-- end container -->
  <script src="/javascripts/script.js"></script>
</body>

</html>